@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: "Santio";
    src: url(../fonts/OTP/Santio\ regular.otf);
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Mr Dafoe";
    src: url(../fonts/Mr_Dafoe/);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

.main-flex {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.mainPic {
    background-image: url(../img/cleo-topper.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 5%;
    margin-top: 12px;
}

img {
    width: 100px;
    height: 100px;
}

.navPic {
    height: 20px;
    width: 20px;
}

nav a {
    color: #fff;
    text-align: right;
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 400;
    text-decoration-color: rgba(231, 188, 14, 1);
}

.title {
    color: #fff;
    font-family: "Inter";
    font-size: 4.2rem;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    display: flex;
    flex-direction: column;
    width: 7%;
    margin: 10%;

}

.scroll {
    color: #E7BC0E;
    font-family: "Mr Dafoe";
    font-size: 2rem;
    font-style: oblique;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.125rem;
    margin-left: 10%;

}

.text {
    color: #6BC1A3;
    font-family: Santio;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    margin-left: 20%;
    margin-top: 7rem;
    flex-direction: column;
    width: 30%;
}

.text span {
    color: white;
}

.yellow,
.pink,
.green,
.blue {
    margin: auto;
    width: 90%;
    margin-top: 7rem;
    margin-left: 30%
}

.pink {
    margin-top: ;
}

.yellow img {
    margin-top: -5rem;
}

.yellow h1 {
    color: #E7BC0E;
    font-family: Santio;
    font-size: 8.688rem;
    font-weight: 700;
    margin-top: 1rem;
}

.pink h1 {
    color: #cb9186;
    font-family: Santio;
    font-size: 5.975rem;
    font-weight: 700;
}

.green h1 {
    color: #6BC1A3;
    font-family: Santio;
    font-size: 6.938rem;
    font-weight: 700;
}

.blue p {
    margin-top: 10rem;
}

.yellowtext,
.pinktext,
.greentext,
.bluetext {
    color: #E7BC0E;
    text-transform: uppercase;
    font-family: Santio;
    font-size: 3.138rem;
    font-weight: 700;
    width: 45%;
}

.yellowtext {
    color: #E7BC0E;
}

.pinktext {
    color: #CB91B6;
}

.greentext {
    color: #6BC1A3;
}

.yellowtext span,
.pinktext span,
.greentext span {
    color: white;
    font-family: Santio;
    font-size: 2.638rem;
    font-weight: 700;
    background-color: rgba(51, 51, 51, 0.04);
}

.bluetext {
    color: #7EB8E1;
    font-family: Santio;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 139.773%;
}

.bluetext span {
    color: white;
    background-color: rgba(51, 51, 51, 0.04);
}

.smallPic {}

.smallPic img {
    width: 100%;
    height: 100%;
    background-image: url(../img/see.png);
    background-position: center;
    background-repeat: no-repeat;
}

footer {
    background: black;
}

.footertext {
    color: #FFF;
    font-family: Inter;
    font-size: 2.938rem;
    font-weight: 700;
}

.footer {
    margin: 20%;
}

.footer a {
    padding: 10px;
    border: 1px solid white;
    background-color: black;
    color: #FFF;
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
}

.footer a:hover {
    box-shadow: 10px 10px white;
}


.inspired {
    margin-top: 15vh;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 0.5rem;
    font-weight: 400;
}

.inspire span {

    color: white;
    color: #6BC1A3;
    font-family: Inter;
    font-size: 0.5rem;
    font-weight: 400;
}

footer p {
    color: white;
    text-align: left;
    font-family: Roboto;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer div {
    display: flex;
    flex-direction: column;
}

footer div a {
    margin: 64px 0;
    padding: 8px 16px;
    width: fit-content;
}
span {
    background-color: rgba(0, 0, 0, 0.451);
}
@media only screen and (max-width: 760px) {

    .text {
        width: 80%;
        margin: 50% auto;
        }
        .yellow h1,
        .green h1,
        .pink h1 {
            font-size: 2.688rem;
        }
        .yellowtext,
        .greentext,
        .pinktext,
        .bluetext {
            font-size: 1rem;
        }
        .yellowtext span,
        .greentext span,
        .pinktext span {
            font-size: 1rem;
        }
        .title {
            font-size: 3rem;
        }
        .scroll {
            font-size: 1.2rem;
        }
        .text {
            font-size: 1.5rem;
        }
        
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {


    html {
        font-size: 18px;
    }